body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1c1c;
}

.back-img{
  display: flex;
  justify-content:  flex-end;
}

h1{
  color: rgba(242, 244, 244, 0.77)
}

h2 {
    margin-bottom: 40px;
    color: rgba(242, 244, 244, 0.77)
}

a{
text-decoration: none;
color: white;
}

a:hover{
text-decoration: none;
color: inherit;
}

a:visited {
    text-decoration: none;
}

p{
  color: rgba(242, 244, 244, 0.77)
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

  
  
  /* Styles pour la barre de navigation */
.navbar {
    margin-bottom: 40px;
    background-color: rgba(242, 244, 244, 0.77);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none; /* Enlève les puces */
  }
  
  .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 15px; /* Ajoute un padding pour créer des cases */
    border-radius: 5px; /* Arrondit les coins des cases */
    transition: background-color 0.3s ease; /* Ajoute une transition pour l'effet de survol */
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #f0f0f0;
    color: #000;
  }
  

.card {
    margin-bottom: 30px;
    border: 10px solid #61acaf;
    border-radius: 5%;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


  .project-img-booki {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .project-img-kanap {
    width: 120px;
    height: 110px;
    object-fit:contain;
  }


  .logo_html{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
  }

  .logo_css{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 40px;
    height: 50px;
  }

  .logo_ga{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
  }

  .logo_gtmetrix{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 50px;
  }

  .logo_gads{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 50px;
  }

  .logo_js{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 45px;
    height: 50px;
  }

  .logo_nodejs{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 85px;
    height: 50px;
  }






  .project-img-omf {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .panthere{
    background-color: white;
  }

  .project-img-panthere {
    width: 100%;
    height: 100%;
    object-fit:contain;
    filter: brightness(50%);
  }

  .center-container {
    text-align: center;
    max-width: 800px; /* Définissez la largeur maximale souhaitée */
    margin: 0 auto; /* Centrez horizontalement la div */
    overflow: hidden;
  }

  .slide-content {
    display: flex;
    border: 1px solid #c8b9a3;
  }



  .swiper-slide {
    overflow: hidden;
    position: relative;
  }

  .stack {
    visibility: visible;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
        
        
  /* Styles pour les écrans de petite taille */
@media (max-width: 767px) {
    .card {
      margin-bottom: 20px;
    }
    
    .project-img {
      height: auto;
      max-width: 100%;
    }
  }

  .project-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .project-card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    scroll-snap-align: start;
  }
  
  .carousel-controls {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .prev-button,
  .next-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #555;
  }

  
  
  /* Styles pour les écrans de taille moyenne */
  @media (min-width: 768px) and (max-width: 991px) {
    .project-img {
      height: 250px;
      object-fit: cover;
      width: 100%;
    }

    .project-img-omf {
        width: 200px;
        height: 50px;
        object-fit:contain;
      }

      .project-img-booki {
        width: 150px;
        height: 50px;
        object-fit:contain;
      }

      .project-img-panthere {
        width: 50px;
        height: 50px;
        object-fit:contain;
      }


    
  }
  
  /* Styles pour les écrans de grande taille */
  @media (min-width: 992px) {
    .project-img {
      height: 300px;
      object-fit: cover;
      width: 100%;
    }
  }
  




